.login__screen{
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/42f6dd08-d478-46e4-a4a8-e3a93aa7e085/IN-en-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;

}
.login__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%,
    );
}

.login__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}

.login__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.login__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: left;
    left: 0;
    right: 0;
}

.login__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.login__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.login__body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.login__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.login__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}